.chat-main{
  height: 100vh;
  width:  calc(100vw - 300px);
  float:  left;

  &__header{
    height: 15%;
    border: 1px solid #eee;

    &--group{
      margin: 0 40px;

      &-name{
        color: #333;
        font-size: 20px;
        margin: 35px 0 15px;
        float:left;
      }

      &-edit{
        color: #38AEF0;
        font-size: 15px;
        padding: 12.5px 20px;
        margin: 28px 20px 0;
        border: 1px solid #38AEF0;
        float:right;
      }
    }

    &-members{
      color:#999;
      font-size:12px;
      margin: 80px 200px 0 40px;
    }
  }

  &__body{
    height:calc( 100vh - 15% - 90px );
    overflow-y: scroll;

    &--messages--list{
      padding-top: 26px;
      padding-left: 40px;
    }
  }

  &__message{
    padding: 20px 0 ;

    &-name{
      color: #434A54;
      font-size: 16px;
      font-weight: bold;
      float: left;
      padding-top: 26px;
      padding-left: 40px;
    }

    &-time{
      color: #999;
      font-size: 12px;
      padding: 26px 10px 10px ;
      float: left;
    }

    &-body{
      color: #434A54;
      clear: both;
      padding-left: 40px;

      &-image{
        border: 0;
      }
    }
  }

  &__footer{
    height: 90px;
    width: 100%;
    background-color: #B8C3C7;

    .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;

    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
  }

}
